 * {
     margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
 }

 body {
     /*background: rgb(0, 0, 0, 0.5);*/
     background-image: url('./assets/imgs/background.gif');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
 }

 main {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem;
 }

 #search {
     position: relative;
     width: 80%;
     background: rgba(255, 255, 255, .5);
     align-items: center;
     border-radius: .85em;
     padding: .8em;
 }

 #search::before {
     background: rgba(255, 255, 255, .5);
     content: "";
     width: 100%;
     height: 100%;
     filter: blur(12px) brightness(50%);
     position: absolute;
     z-index: -1;
     left: 0;
     top: 0;
 }

 #search input#categoria {
     width: 100%;

 }

 input[type="text"] {
     color: #3333;
     width: 10em;
     border-radius: 0.5em;
     border: 1px solid white;
     transition: width 0.4s ease-in-out;
 }

 input[type="text"]:focus,
 input[type="text"]:hover {
     border: 2px solid black;
     color: black;
     width: 20%;
 }

 input[type="radio"],
 input[type="checkbox"] {
     accent-color: purple;
 }

 input[type="button"] {
     display: none;
 }

 .busca {
     position: fixed;
     top: 88%;
     right: 6%;
     padding: 1.8rem 1rem;
     border-radius: 100%;
     background: rgba(255, 255, 255, .5);
     z-index: 2;
 }

 .clear {
     position: fixed;
     top: 80%;
     right: 6%;
     padding: 1.2rem .6rem;
     border-radius: 100%;
     background: rgba(255, 255, 255, .5);
     z-index: 2;
 }

 .busca:hover,
 .clear:hover {
     background: rgba(255, 255, 255, .8);
 }

 .tipo {
     display: flex;
     justify-content: space-around;
 }

 .nsfw {
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 600;
     font-size: .8rem;
 }

 #pictureWaifu {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 5px;
     padding: .5rem;
     color: white;
 }

 #pictureWaifu img {
     border-radius: 1rem;
     width: 100%;
     height: auto;
 }

 .waifu-card {
     border: 1px solid transparent;
     border-radius: 5px;
     padding: .25rem;
     transition: ease-in-out .5s;
 }

 .waifu-card:hover {
     transform: scale(1.03);
 }

 .waifu-card img {
     border-radius: 1rem;
     border: 1px solid rgba(255, 255, 255, .5);
 }

 @media (min-width: 769px) {
     #pictureWaifu {
         grid-template-columns: repeat(4, 1fr);
     }
 }